<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dashboard information of Tsunami Early Warning System" />
    <meta name="keywords" content="pumma" />
    <meta name="theme-color" content="#266079"/>
    <meta name="dicoding:email" content="rahmanaulia0110@gmail.com">
    <meta name="dicoding:email" content="suarahp@gmail.com">
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/icon.png" />
    <title>PUMMA Dashboard</title>
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      />
    </noscript>
  </head>
  <body>
    <navigasi-bar></navigasi-bar>
    <div id="mainContent"></div>
  </div> 
  <footer>
    <div class="footer-primary"></div>
    <div class="footer-secondary"> <p>&#169; 2021, PUMMA</p></div>
</footer>
  </body>
</html>