@media screen and (max-width: 364px) {
  .app-bar .app-bar__location {
    top: 118.4px;
  }
}
@media screen and (min-width: 800px) {
  .content_grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
  }
}
