* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}

/* AppBar */
.head-bar {
  position: sticky;
  background-color: #266079;
}

.app-bar {
  grid-template-columns: 1fr auto;
  padding: 8px 32px;
  max-width: 1140px;
  min-height: 76px;
  margin-left: auto;
  margin-right: auto;
  background-color: #266079;
  display: grid;
  gap: 10px;
  top: 0;
  z-index: 99;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 16px;
  cursor: pointer;
}

span.fas {
  color:#fff;
}

.app-bar .app-bar__navMenu {
  position: static;
  background-color: #266079;
  width: 100%;
  top: 76px;
  left: 0;
}

.app-bar .app-bar__navMenu ul {
  margin: 0;
  padding: 0;
}

.app-bar .app-bar__navMenu ul li {
  display: inline-block;
  list-style: none;
}

.app-bar .app-bar__navMenu ul li a {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 16px;
}

.app-bar .app-bar__navMenu ul li a:hover {
  transition: all 1s;
  background: black;
  opacity: 100%;
}

.app-bar .app-bar__location {
  position: absolute;
  top: 76px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  top: 76px;
  background-color: #fff;
  overflow: hidden;
}

.app-bar .app-bar__location.open {
  left: 0;
}

.app-bar .app-bar__location h1 {
  text-align: center;
}

.app-bar .app-bar__location ul {
  margin: 0;
  padding: 0;
}

.app-bar .app-bar__location ul li {
  list-style: none;
}

.app-bar .app-bar__location ul li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__location ul li a:hover {
  transition: all 1s;
  background: #B8E4F0;
  opacity: 100%;
}
/* hero */
.hero{
  width: 100%;
  height: 600px;
  background-color:#266079;
  position: absolute;
  z-index: -99;

}
.hero .hero-text{
  text-align: center;
  margin-top: 120px;
}
.hero .hero-text h2 {
  color: white;
  font-size: 50px;
}
.hero .hero-text h3 {
  color: #FFCC1D;
  font-size: 40px;
}

/* maincontent */
#maincontent{
  width: 100%;
  padding: 20px;
}
.picture{
  margin: 10px;
  width: 60%;
  height:500px;
  border-radius: 30px;
  margin:0 auto;
  margin-top: 300px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.picture img{
  border-radius: 30px;
}
.grafik{
  margin: 10px;
  width: 100%;
  height:300px;
  border-radius: 5px;
  margin-left: 5px;
}

.cardTest {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 7px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.card {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

/* Location */
#location h1 {
  padding-left: 10px;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
}

/* table */
#water_level{
  overflow: scroll;
}

.table_title{
  padding-top: 5px 10px;
  margin: 0px 0px 20px 20px;
  position: static;
}

.table_title h2 {
  font-size: 16px;
}

.table {
  width: 100%;
}

table {
  font-family: sans-serif;
  color: #232323;
  border-collapse: collapse;
  width: 100%;
}

.table_tab table th {
  border-bottom: solid 1px rgb(87, 83, 83);
  padding: 8px 20px;
  height: 40px;
}

table td{
  text-align: center;
  padding: 8px 20px;
  height: 40px;
}

/* Footer */
footer .footer-primary{
  width: 100%;
  height: 300px;
  background-color: #04293A;
  margin-top: 40px;
}
footer .footer-secondary{
  width: 100%;
  height: 50px;
  background-color: #266079;
  border-top: 2px solid #266079;
}
footer .footer-secondary p{
  color: white;
  text-align: center;
  padding-top: 0px;
}